<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>

    <button mat-raised-button color="accent" (click)="getList('ags')">AGS</button>
    <br>
    <button mat-raised-button color="accent" (click)="getList('pas')">PAS</button>
    <br>
    <button mat-raised-button color="accent" (click)="getList('iss')">ISS</button>
    <br>
    <button mat-raised-button color="accent" (click)="getList('eps')">EPS</button>
    <br>
    <button mat-raised-button color="accent" (click)="getList('etc')">ETC</button>
    <br>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      사이드 메뉴
    </button>
  </div>

  <mat-card>
    <mat-card-header style="height: 70px">
      <mat-card-title>TEST API LIST</mat-card-title>
      <mat-card-subtitle>
        ★★★★★★★★★★★★★★★★★★★★★가져다 대시오....★
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div>
        <mat-form-field style="width: 50%;">
          <mat-select #optionHub placeholder="전문리스트" (ngModelChange)="selectChange($event)"
                      [(ngModel)]="selectMessageListModel">
            <mat-option>-- {{serverInfo}} 전문 리스트 --</mat-option>
            <mat-option *ngFor="let info of msgList" [value]="info"> {{info}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="accent" style="margin: 5px;">.json DOWNLOAD</button>
        <!-- (click)="downloadJsonFile({{info}}, {{jsonRequestResult}})"-->
      </div>


      <div>
        <div>
          <ng-template ngFor let-item [ngForOf]="jsonRequestResult" let-idx="index">
            <h3>{{item.name}}</h3>
            <button mat-raised-button color="accent" style="margin: 5px;float: right;">SEND REQUEST</button>
            <br>
            {{item.url | json}}
            <br>

            <ng-template ngFor let-header [ngForOf]=item.header let-idx="index">
              <div>
                {{header.key}} : <input placeholder="value" value={{header.value}}>
              </div>
            </ng-template>

            <br>
            <textarea class="form-control" id="textarea"
                      style="width: 100%;height: 100px;overflow-y: scroll;resize: none;">{{item.body | json}}</textarea>

            <br>
            <br>
          </ng-template>
        </div>
      </div>


    </mat-card-content>
  </mat-card>

</mat-drawer-container>
